.auth-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(123, 104, 238, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 3px solid rgba(123, 104, 238, 0.6);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    padding: 0.75rem;
    z-index: 1000;
}

.auth-menu.closed{
    display: none;
}

.auth-method-button {
    padding: 10px 24px;
    border-radius: 6px;
    display: flex;
    border: 3px solid rgba(123, 104, 238, 0.6);
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 500;
    background: rgba(123, 104, 238, 0.2);
    color: white;
}

