.right-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  max-width: 25rem;
  height: 100%;
  background: var(--color-bg);
  border-left: var(--border-width) solid rgba(255, 255, 255, 0.05);
  padding: 0;
  transition: width 0.3s ease;
  z-index: 25;
  overflow-y: auto;
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadow);
}

.right-menu.open {
  width: 100%;
  padding: 20px;
}

/* Универсальный блок */
.menu-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 1rem 1rem;
    background: rgba(123, 104, 238, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: var(--border-radius);
    border: var(--border-width) solid rgba(123, 104, 238, 0.6);
}