.right-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: var(--color-bg-panel);
    padding: 0;
    transition: width var(--transition-speed) ease, padding var(--transition-speed) ease;
    z-index: 40;
    overflow-y: auto;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
    border-left: none;
}

.right-menu.open {
    width: var(--right-menu-width);
    padding: 1.5rem;
    border-left: var(--border-width) solid var(--color-border);
}

/* Универсальный блок */
.menu-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 1rem;
    background: var(--color-bg-hover);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--color-border-active);
}

@media (max-width: 768px) {
    .right-menu.open {
        max-width: calc(100% - var(--servers-width));
        border-left: none;
    }
}